<ion-header>
  <ion-navbar>
    <ion-title>
      Politicians
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item-group *ngFor="let state of states">
        <ion-item-divider color="light">{{state.name}}</ion-item-divider>
        <button ion-item *ngFor="let politician of state.politicians" (click)="itemTapped($event, politician)">{{politician.last_name}}</button>
    </ion-item-group>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
