<ion-header>
  <ion-navbar>
    <ion-title>
      Politicians
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-item-group *ngFor="let state of states">
      <ion-item-divider light>{{state.name}}</ion-item-divider>
      <ion-item *ngFor="let politician of state.politicians">{{politician.last_name}}</ion-item>
    </ion-item-group>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
