<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <div class="item-note" item-left>
        {{item.name}}
      </div>
      <ion-icon name="{{item.icon1}}" item-right class="star" [style.color]="item.color1"></ion-icon>
      <ion-icon name="{{item.icon2}}" item-right class="star" [style.color]="item.color2"></ion-icon>
      <ion-icon name="{{item.icon3}}" item-right class="star" [style.color]="item.color3"></ion-icon>
      <ion-icon name="{{item.icon4}}" item-right class="star" [style.color]="item.color4"></ion-icon>
      <ion-icon name="{{item.icon5}}" item-right class="star" [style.color]="item.color5"></ion-icon>
    </button>
  </ion-list>
   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

  <button ion-button full *ngIf="!isSignedIn" (click)="getMore()">More</button>
</ion-content>
